@using Store.Public.Categories
@model List<CategoryInlistDto>
@inject ICategoriesAppService _categoryappService;

@{
}
<style>
    .dropdown-account.dropdown-open {
        left: -95px;
        display: block;
        visibility: visible;
    }
</style>
<header class="header header-container sticky-bar">
    <div class="container">
        <div class="main-header">
            <div class="header-left">
                <div class="header-nav" style="width: 0%;">
                    <nav class="nav-main-menu d-none d-xl-block">

                    </nav>
                    <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
                </div>
                <div class="header-logo"><a href="/"><img alt="Ecom" src="/assets/imgs/template/logo.svg"></a></div>
                <div class="header-search" style="width: 100%;">
                    <div class="box-header-search">
                        <form class="form-search" method="post" action="#">
                            <div class="box-category">
                                <select class="select-active select2-hidden-accessible" data-select2-id="1" tabindex="-1"
                                        aria-hidden="true">
                                    <option>Danh mục</option>
                                    @foreach (var item in Model)
                                    {
                                        var url = $"/products/{@item.CategoryId}.html";
                                        <option value="@item.Id"> <a href="@url"> @item.CategoryName</a></option>
                                    }
                                </select>
                            </div>
                            <div class="box-keysearch">
                                <input class="form-control font-xs" type="text" value="" placeholder="Search for items">
                            </div>
                        </form>
                    </div>
                </div>

                @if (User.Identity.IsAuthenticated)
                {
                    var userId = User.Claims.FirstOrDefault();
                    var Id = userId.Value;
                    <div class="header-shop">
                        <div class="d-inline-block box-dropdown-cart">
                            <span class="font-lg icon-list icon-account"><span>Account</span></span>

                            <div class="dropdown-account">
                                <ul>
                                    <li style="text-align:left"><a>Xin chào:  @User.Identity.Name</a></li>
                                    <li><a href="/Account/Profile.html">Hồ sơ</a></li>
                                    <li><a href="/Account/History.html">Lịch sửa đặt hàng</a></li>
                                    <li><a href="/logout.html">Sign out</a></li>
                                </ul>
                            </div>
                        </div>
                        <a class="font-lg icon-list icon-cart" href="shop-cart.html"><span>Cart</span></a>
                    </div>
                }
                else
                {
                    <div class="header-shop">
                        <div class="d-inline-block box-dropdown-cart">
                            <span class="font-lg icon-list icon-account"><span>Login</span></span>
                            <div class="dropdown-account">
                                <ul>
                                    <li><a href="/login.html">Đăng nhập</a></li>
                                    <li><a href="/register.html">Đăng ký</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</header>
<div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-content-area">
            <div class="mobile-logo"><a class="d-flex" href="index.html"><img alt="Ecom" src="assets/imgs/template/logo.svg"></a></div>
            <div class="perfect-scroll">
                <div class="mobile-menu-wrap mobile-header-border">
                    <nav class="mt-15">
                        <ul class="mobile-menu font-heading">
                            @foreach (var items in Model)
                            {
                                var url = $"/products/{items.CategoryId}.html";

                                <li class="has-children">
                                    <a class="active" href="@url">@items.CategoryName</a>
                                    <ul class="sub-menu">
                                        @foreach (var child in items.Children)
                                        {
                                            var childUrl = $"/products/{child.CategoryId}.html";
                                            <li><a class="font-sm" href="@childUrl">@child.CategoryName</a></li>
                                        }
                                    </ul>
                                </li>
                            }

                        </ul>
                    </nav>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    var userId = User.Claims.FirstOrDefault();
                    var Id = userId.Value;
                    <div class="mobile-account">
                        <div class="mobile-header-top">
                            <div class="user-account">
                                <a href="page-account.html"><img src="assets/imgs/template/ava_1.png" alt="Ecom"></a>
                                <div class="content">
                                    <h6 class="user-name">Xin chào: <span class="text-brand"> @User.Identity.Name</span></h6>
                                </div>
                            </div>
                        </div>
                        <ul class="mobile-menu">
                            <li style ="text-align:left"><a>Xin chào:  @User.Identity.Name</a></li>
                            <li><a href="/Account/Profile.html">Hồ sơ</a></li>
                            <li><a href="/Account/History.html">Lịch sửa đặt hàng</a></li>
                            <li><a href="/logout.html">Sign out</a></li>
                        </ul>
                    </div>
                    <a class="font-lg icon-list icon-cart" href="shop-cart.html"><span>Cart</span></a>
                }
                else
                {
                    <div class="header-shop">
                        <div class="d-inline-block box-dropdown-cart">
                            <span class="font-lg icon-list icon-account"><span>Login</span></span>
                            <div class="dropdown-account">
                                <ul>
                                    <li><a href="/login.html">Login</a></li>
                                    <li><a href="/register.html">Register</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</div>
<div class="sidebar-left">
    <a class="btn btn-open" href="#"></a>
    <ul class="menu-icons hidden">
        @foreach (var items in Model)
        {
            var fileContent = await _categoryappService.GetImageAsync(items.Icon);
            var base64Image = Store.Helpers.ImageHelper.ShowBase64(items.Icon, fileContent);
            <li><a href="javascript:void(0)"><img src="@base64Image" alt="@items.CategoryName"></a></li>
        }
    </ul>
    <ul class="menu-texts menu-close">
        @foreach (var items in Model)
        {
            var url = $"/products/{items.CategoryId}.html";
            var fileContent = await _categoryappService.GetImageAsync(items.Icon);
            var base64Image = Store.Helpers.ImageHelper.ShowBase64(items.Icon, fileContent);
            <li class="has-children">

                <a href="@url"><span class="img-link"><img src="@base64Image" alt="@items.CategoryName" style="width:50%"></span><span class="text-link">@items.CategoryName</span></a>
                <ul class="sub-menu">
                    @foreach (var child in items.Children)
                    {
                        var childUrl = $"/products/{child.CategoryId}.html";
                        <li><a class="font-sm" href="@childUrl">@child.CategoryName</a></li>
                    }
                </ul>
            </li>
        }
    </ul>
</div>
<div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-content-area">
            <div class="mobile-logo"><a class="d-flex" href="index.html"><img alt="Ecom" src="assets/imgs/template/logo.svg"></a></div>
            <div class="perfect-scroll">
                <div class="mobile-menu-wrap mobile-header-border">
                    <nav class="mt-15">
                        <ul class="mobile-menu font-heading">
                            @foreach (var items in Model)
                            {
                                var url = $"/products/{items.CategoryId}.html";
                                <li class="has-children">
                                    <a class="active" href="@url">@items.CategoryName</a>
                                    <ul class="sub-menu">
                                        @foreach (var child in items.Children)
                                        {
                                            var childUrl = $"/products/{child.CategoryId}.html";
                                            <li><a class="font-sm" href="@childUrl">@child.CategoryName</a></li>
                                        }
                                    </ul>
                                </li>
                            }

                        </ul>
                    </nav>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    var userId = User.Claims.FirstOrDefault();
                    var Id = userId.Value;
                    <div class="mobile-account">
                        <div class="mobile-header-top">
                            <div class="user-account">
                                <a href="page-account.html"><img src="assets/imgs/template/ava_1.png" alt="Ecom"></a>
                                <div class="content">
                                    <h6 class="user-name" style="text-align:left">Xin chào: <span class="text-brand"> @User.Identity.Name</span></h6>
                                </div>
                            </div>
                        </div>
                        <ul class="mobile-menu">
                            <li><a href="/Account/Profile.html">Hồ sơ</a></li>
                            <li><a href="/Account/History.html">Lịch sửa đặt hàng</a></li>
                            <li><a href="/logout.html">Sign out</a></li>
                        </ul>
                    </div>
                    <a class="font-lg icon-list icon-cart" href="shop-cart.html"><span>Cart</span></a>
                }
                else
                {
                    <div class="header-shop">
                        <div class="d-inline-block box-dropdown-cart">
                            <span class="font-lg icon-list icon-account"><span>Login</span></span>
                            <div class="dropdown-account">
                                <ul>
                                    <li><a href="/login.html">Login</a></li>
                                    <li><a href="/register.html">Register</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>