@using Store.Public.Categories
@model List<CategoryInlistDto>
<div class="sidebar-left">
    <a class="btn btn-open"></a>
    <ul class="menu-texts menu-close">
        <li class="has-children">
            @foreach (var items in Model)
            {
                var url = $"/product/{items.CategoryId}.html";
                <a href="@url">
                    <span class="img-link"><img src="" alt=""></span>
                    <span class="text-link">@items.CategoryName</span>
                </a>
                <ul class="sub-menu">
                    @foreach (var child in items.Children)
                    {
                        var childUrl = $"/products/{child.CategoryId}.html";
                        <li><a class="font-sm" href="@childUrl">@child.CategoryName</a></li>
                    }
                </ul>
            }
        </li>
    </ul>
</div>
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="text-center">
                <img class="mb-10" src="/assets/imgs/template/favicon.svg" alt="Ecom">
                <div class="preloader-dots"></div>
            </div>
        </div>
    </div>
</div>
<header class="header header-container sticky-bar">
    <div class="container">
        <div class="main-header">
            <div class="header-left">
                <div class="header-logo"><a href="index.html"><img alt="Ecom" src="/assets/imgs/template/logo.svg"></a></div>
                <div class="header-search" style="width: 40%;">
                    <div class="box-header-search">
                        <form class="form-search" method="post" action="#">
                            <div class="box-category">
                                <select class="select-active select2-hidden-accessible" data-select2-id="1" tabindex="-1"
                                        aria-hidden="true">
                                    <option>Danh mục</option>
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.Id"> @item.CategoryName</option>
                                    }
                                </select>
                            </div>
                            <div class="box-keysearch">
                                <input class="form-control font-xs" type="text" value="" placeholder="Search for items">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="header-nav">
                    <nav class="nav-main-menu d-none d-xl-block">
                        <ul class="main-menu">
                            <li class="has-children">
                                <a href="shop.html">Shop</a>
                                <ul class="sub-menu two-col">
                                    @foreach (var item in Model)
                                    {
                                        <li><a href="/products/@(item.CategoryId).html">@item.CategoryName</a></li>
                                    }
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="page-about-us.html">About Us</a></li>
                                    <li><a href="page-contact.html">Contact Us</a></li>
                                    <li><a href="page-careers.html">Careers</a></li>
                                    <li><a href="page-term.html">Term and Condition</a></li>
                                    <li><a href="page-register.html">Register</a></li>
                                    <li><a href="page-login.html">Login</a></li>
                                    <li><a href="page-404.html">Error 404</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="blog.html">Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-single-3.html">Blog Single - No sidebar</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="page-contact.html">Contact</a>
                                <ul class="sub-menu">
                                    <li><a href="blog.html">Blog - No Sidebar</a></li>
                                    <li><a href="blog-single-3.html">Blog Single - No sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="burger-icon burger-icon-white">
                        <span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span>
                    </div>
                </div>
                <div class="header-shop">
                    <div class="d-inline-block box-dropdown-cart">
                        <span class="font-lg icon-list icon-cart">
                            <span>Cart</span><span class="number-item font-xs">2</span>
                        </span>
                    </div>
                    <div class="d-inline-block box-dropdown-cart">
                        <span class="font-lg icon-list icon-account"><span>Account</span></span>
                        <div class="dropdown-account">
                            <ul>
                                <li><a href="page-account.html">My Account</a></li>
                                <li><a href="page-login.html">Sign out</a></li>
                            </ul>
                        </div>
                    </div><a class="font-lg icon-list icon-wishlist" href="shop-wishlist.html">
                        <span>Wishlist</span><span class="number-item font-xs">5</span>
                    </a>

                </div>
            </div>
        </div>
    </div>

</header>
<div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-content-area">
            <div class="mobile-logo"><a class="d-flex" href="index.html"><img alt="Ecom" src="assets/imgs/template/logo.svg"></a></div>
            <div class="perfect-scroll">
                <div class="mobile-menu-wrap mobile-header-border">
                    <nav class="mt-15">
                        <ul class="mobile-menu font-heading">
                            @foreach (var items in Model)
                            {
                                var url = $"/product/{items.CategoryId}.html";
                                <li class="has-children">
                                    <a class="active" href="@url">@items.CategoryName</a>
                                    <ul class="sub-menu">
                                        @foreach (var child in items.Children)
                                        {
                                            var childUrl = $"/products/{child.CategoryId}.html";
                                            <li><a class="font-sm" href="@childUrl">@child.CategoryName</a></li>
                                        }
                                    </ul>
                                </li>
                            }

                        </ul>
                    </nav>
                </div>
                <div class="mobile-account">
                    <div class="mobile-header-top">
                        <div class="user-account">
                            <a href="page-account.html"><img src="assets/imgs/template/ava_1.png" alt="Ecom"></a>
                            <div class="content">
                                <h6 class="user-name">Hello<span class="text-brand"> Steven !</span></h6>
                                <p class="font-xs text-muted">You have 3 new messages</p>
                            </div>
                        </div>
                    </div>
                    <ul class="mobile-menu">
                        <li><a href="page-account.html">My Account</a></li>
                        <li><a href="page-account.html">Order Tracking</a></li>
                        <li><a href="page-account.html">My Orders</a></li>
                        <li><a href="page-account.html">My Wishlist</a></li>
                        <li><a href="page-account.html">Setting</a></li>
                        <li><a href="page-login.html">Sign out</a></li>
                    </ul>
                </div>
                <div class="mobile-banner">
                    <div class="bg-5 block-iphone">
                        <span class="color-brand-3 font-sm-lh32">Starting from $899</span>
                        <h3 class="font-xl mb-10">iPhone 12 Pro 128Gb</h3>
                        <p class="font-base color-brand-3 mb-10">Special Sale</p><a class="btn btn-arrow" href="shop-grid.html">learn more</a>
                    </div>
                </div>
                <div class="site-copyright color-gray-400 mt-30">Copyright 2022 &copy; Ecom - Marketplace Template.<br>Designed by<a href="http://alithemes.com" target="_blank">&nbsp; AliThemes</a></div>
            </div>
        </div>
    </div>
</div>
<div class="sidebar-left">
    <a class="btn btn-open" href="#"></a>
    <ul class="menu-icons hidden">
        <li><a href="javascript:void(0)"><img src="assets/imgs/template/monitor.svg" alt="Ecom"></a></li>
        <li><a href="javascript:void(0)"><img src="assets/imgs/template/mobile.svg" alt="Ecom"></a></li>
    </ul>
    <ul class="menu-texts menu-close">
        <li class="has-children">
            @foreach (var items in Model)
            {
                var url = $"/product/{items.CategoryId}.html";
                <a href="@url"><span class="img-link"><img src="assets/imgs/template/cat_icon.png" alt="@items.CategoryName"></span><span class="text-link">@items.CategoryName</span></a>
                <ul class="sub-menu">
                    @foreach (var child in items.Children)
                    {
                        var childUrl = $"/products/{child.CategoryId}.html";
                        <li><a class="font-sm" href="@childUrl">@child.CategoryName</a></li>
                    }
                </ul>
            }
        </li>

    </ul>
</div>
<div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-content-area">
            <div class="mobile-logo"><a class="d-flex" href="index.html"><img alt="Ecom" src="assets/imgs/template/logo.svg"></a></div>
            <div class="perfect-scroll">
                <div class="mobile-menu-wrap mobile-header-border">
                    <nav class="mt-15">
                        <ul class="mobile-menu font-heading">
                            @foreach (var items in Model)
                            {
                                var url = $"/product/{items.CategoryId}.html";
                                <li class="has-children">
                                    <a class="active" href="@url">@items.CategoryName</a>
                                    <ul class="sub-menu">
                                        @foreach (var child in items.Children)
                                        {
                                            var childUrl = $"/products/{child.CategoryId}.html";
                                            <li><a class="font-sm" href="@childUrl">@child.CategoryName</a></li>
                                        }
                                    </ul>
                                </li>
                            }

                        </ul>
                    </nav>
                </div>
                <div class="mobile-account">
                    <div class="mobile-header-top">
                        <div class="user-account">
                            <a href="page-account.html"><img src="assets/imgs/template/ava_1.png" alt="Ecom"></a>
                            <div class="content">
                                <h6 class="user-name">Hello<span class="text-brand"> Steven !</span></h6>
                            </div>
                        </div>
                    </div>
                    <ul class="mobile-menu">
                        <li><a href="page-account.html">My Account</a></li>
                        <li><a href="page-account.html">Setting</a></li>
                        <li><a href="page-login.html">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>