@using Store.Public.Products;
@model Store.Public.Products.ProductInlistDto
@inject IProductsAppService _productsAppService;
@{
    var url = $"/products/{Model.Slug}.html";
    var fileContent = await _productsAppService.GetImageAsync(Model.Image);
    var base64Image = Store.Helpers.ImageHelper.ShowBase64(Model.Image, fileContent);
}
<div class="card-grid-style-3">
    <div class="card-grid-inner">
        <div class="image-box">
            @*<span class="label bg-brand-2">-17%</span>*@
            <a href="@url">
                <img src="@base64Image" alt="@Model.ProductName">
            </a>
        </div>
        <div class="info-right">
            <div class="row">
                <div class="col-md-6">
                    <div class="rating">
                        <span class="font-xs color-gray-500">Mã: @Model.ProductId</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="rating">
                        @if (Model.Status == true)
                        {
                            <span class="font-xs color-gray-500">Còn hàng</span>
                        }
                        @if (Model.Status == false)
                        {
                            <span class="font-xs color-gray-500">Hết hàng</span>
                        }
                    </div>
                </div>
            </div>
            <a class="color-brand-3 font-sm-bold" href="@url">@Model.ProductName</a>
            <div class="price-info">
                @*<span class="color-gray-500 price-line">@Model.Price.ToString("N0")đ</span>*@
                <strong class="font-lg-bold color-brand-3 price-main">@Model.Price.ToString("N0") đ</strong>
            </div>
            <div class="mt-20 box-btn-cart"><a class="btn btn-cart" href="shop-cart.html">Add To Cart</a></div>

        </div>

    </div>
</div>